@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;600;700;900&family=Roboto:wght@400;500;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--- DESDE AQU----- */

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}

body{
	/* Asegura que ocupe toda la pantalla */
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    /* Imagen de fondo */
    /* background-image: url(./img/desktop-wallpaper-portfolio-developer.jpg); */
    background: linear-gradient(rgb(1, 0, 8), rgba(10, 150, 171, 0.412)), url('./img/CapturaDress.png');
    background-repeat: no-repeat;
    background-size: cover;   /* Hace que la imagen cubra toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    color: aliceblue;
}
 
/* Asegura el uso de flexbox para distribuir el contenido */
html, body {
    height: 100%; /* Ocupa toda la pantalla */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.headerNav{
	font-size: 1.4em;
	margin-top: 20px;
}
/*  Cambio de color en el Nav cuando est谩s en la p谩gina actual */
.headerNav a.active {
    color: rgb(70, 235, 166); /* Cambia el color del enlace activo */
    font-weight: bold;
    text-decoration: underline;
}

.bodyHome {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; /* Ocupa toda la pantalla */
   
} 
.bodyHome img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover; /* Evita distorsi贸n */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar */
    /* margin: 15px 0; Espacio arriba y abajo */

    /* Posicionamiento */
    display: block; /* Asegura que respete margen autom谩tico */
   
    /* margin-left: auto; Empuja la imagen a la derecha */
    
    /* Borde inicial*/
    border: 8px solid #2bf0e0;
    /* Transici贸n
    transition: border-color 0.2s ease-in-out; */

    /* Animaci贸n */
    animation: cambiarBorde 1.2s infinite alternate ease-in-out;
}
/* .bodyHome img:hover {
    border-color: #59f866; 
} */


h1{
	font-size: 3.5em;
    font-weight: 900;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); /* Sombra negra difuminada */
    color: #38dff5; /* Azul claro */
    letter-spacing: 3px; /*espacio entre caracteres*/
    margin-top: 80px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0);
}

h2{
    font-size: 2.2em;
	line-height: 1.1;
    margin: 20px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0);
}

h3{
	font-size: 1.4em;
    margin: 20px;
    margin-top: 10px;
    line-height: 1.6;
    text-shadow: 4px 4px 10px rgba(0, 0, 0);
}

p{
	font-size: 1.4em;
    max-width: 600px; /* Limita el ancho para que sea mas legible */
    line-height: 1.2;
    margin: 10px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0);
}

a{
    font-size: 1.2em;
	color:rgba(207, 247, 244, 0.577) ;
	text-decoration: none;
	text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); /* Sombra negra difuminada */
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #46f4ba; /* Un rosa m谩s brillante */
    text-decoration: underline;
}

.bodyProjcts {
	display: flex;
    flex-direction: column; /* Elementos en columna */
    align-items: center;  /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente  */
    text-align: center;
    margin: 20px 0 200px 0;
	padding: 50px;
    width: 100%;
}
.bodyProjcts ul{
    width: 100%;
    max-width: 800px; /* Define un ancho m谩ximo para no expandir demasiado */
}
.bodyProjcts li {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro del <li> */
    text-align: center;
    margin-bottom: 40px; /* Espacio entre proyectos */
}
.bodyProjcts img {
    width: 680px; /* Ajusta el tama帽o de las im谩genes */
    height: auto; /* Mantiene la proporci贸n */
    border-radius: 10px; /* Opcional: esquinas redondeadas */
    /* Sombra para mayor profundidad */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6), -5px -5px 15px rgba(0, 0, 0, 0.4);
    margin: 15px 0; /*espacio arriba y abajo */
}
.bodyProjcts a {
    display: block; /*ocupa toda la l铆nea */
    margin-top: 10px; /* Espacio con la imagen */
    font-size: 1.5em;
    font-weight: bold;
    color: #189bb3dd;
    transition: color 0.3s ease-in-out;
}
.bodyProjcts a:hover {
    color: #49e0f4; /*al pasar el cursor */
    text-decoration: underline;
}

.bodyResume {
    display: flex;
    flex-direction: column; 
    align-items: center;  /*centra horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente si el footer es alto */
    text-align: center;
    margin: 20px 0 200px 0;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}
/* .bodyResume img{
    width: 160px;
    height: auto;
    border-radius: 50%;
    object-fit: cover; /* Evita distorsi贸n */
   /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar */
    /* margin: 15px 0; Espacio arriba y abajo */

    /* Posicionamiento */
   /* display: block; /* Asegura que respete margen autom谩tico */
    /* margin-left: auto; Empuja la imagen a la derecha */
    
    /* Borde inicial*/
   /* border: 4px solid #2bf0e0;  */
    /* Transici贸n
    transition: border-color 0.2s ease-in-out; */

    /* Animaci贸n */
   /* animation: cambiarBorde 1.5s infinite alternate ease-in-out; */
/*}*/
/* Efecto hover para cambiar el color del borde
.bodyResume img:hover {
    border-color: #3ce78f; 
} */

/* Definir animaci贸n */
@keyframes cambiarBorde {
    0% {
        border-color: #1cced7; 
    }
    100% {
        border-color: #b7ea2a; 
    }
}


.footerInfo {
    margin-top: 50px;
    display: flex;
    flex-direction: column; /* Elementos en columna */
    align-items: center;  /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente si el footer es alto */
    text-align: center;
    padding: 10px;
    width: 100%;
}


.footerInfo a{
	color: aliceblue;  /* Color inicial */
    transition: color 0.3s ease-in-out; /* Transici贸n suave */
}
/* Cambio al pasar el cursor */
.footerInfo a:hover {
	font-size: 1.6em;
    color: #b7ea2a; /* Nuevo color al hacer hover */
    text-decoration: underline;
}